@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-list fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Aktif Kategori</p>
                    <h6 class="mb-0">@ViewBag.activeCategoryCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-user-tie fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Aktif Personel</p>
                    <h6 class="mb-0">@ViewBag.activeEmployeeCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-building fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Daire İlan Sayısı</p>
                    <h6 class="mb-0">@ViewBag.apartmentCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Ortalama Oda Sayısı</p>
                    <h6 class="mb-0">@ViewBag.avarageRoomCount</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-money-bill-wave fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Ortalama Kira Fiyatı</p>
                    <h6 class="mb-0">@ViewBag.avarageProductPriceByRent</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-hand-holding-usd fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Ortalama Satış Fiyatı</p>
                    <h6 class="mb-0">@ViewBag.avarageProductPriceBySale</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fas fa-sort-amount-up fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Kategori Sayısı</p>
                    <h6 class="mb-0">@ViewBag.categoryCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-trophy fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">En İyi Kategori</p>
                    <h6 class="mb-0">@ViewBag.categoryNameByMaxProductCount</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">En Fazla İlana Sahip Şehir</p>
                    <h6 class="mb-0">@ViewBag.cityNameByMaxProductCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-city fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Şehir Sayısı</p>
                    <h6 class="mb-0">@ViewBag.differentCityCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-user-check fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">En Başarılı Personel</p>
                    <h6 class="mb-0">@ViewBag.employeeNameByMaxProductCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-tag fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Son İlan Fiyatı</p>
                    <h6 class="mb-0">@ViewBag.lastProductPrice</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-battery-full fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">En Yeni Bina Yılı</p>
                    <h6 class="mb-0">@ViewBag.newestBuildingYear</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-battery-empty fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">En Eski Bina Yılı</p>
                    <h6 class="mb-0">@ViewBag.oldestBuildingYear</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-window-close fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Pasif Kategori Sayısı</p>
                    <h6 class="mb-0">@ViewBag.passiveCategoryCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-calculator fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Toplanm İlan Sayısı</p>
                    <h6 class="mb-0">@ViewBag.productCount</h6>
                </div>
            </div>
        </div>
    </div>
</div>